In [58]:
import pandas as pd

In [59]:
df = pd.read_csv("../data/explored_stock_data.csv",index_col="Date")
df.drop("Unnamed: 0",axis="columns",inplace=True)
df.head()

,Close,High,Low,Open,Volume,Target,Rolling_STD_30
Date,,,,,,,
2018-01-02,40.380997,40.390375,39.677740,39.888719,102223600,0,NaN
2018-01-03,40.373962,40.917816,40.310672,40.444289,118071600,1,NaN
2018-01-04,40.561493,40.664638,40.338796,40.446626,89738400,1,NaN
2018-01-05,41.023312,41.110045,40.566195,40.657619,94640000,0,NaN
2018-01-08,40.870945,41.166312,40.772486,40.870945,82271200,0,NaN

In [60]:
df["Net_result"] = df.Close - df.Open
df["Close_Open_Ratio"] = df.Close / df.Open
df['Day_to_Day_Change'] = df['Close'] / df['Close'].shift(1)
df['MA_20'] = df['Close'].rolling(20).mean()
df['Close_MA20_Ratio'] = df['Close'] / df['MA_20']

In [61]:
df.drop(["High","Low","Open"],axis="columns",inplace=True)
df.head()

,Close,Volume,Target,Rolling_STD_30,Close_Open_Ratio,Day_to_Day_Change,MA_20,Close_MA20_Ratio
Date,,,,,,,,
2018-01-02,40.380997,102223600,0,NaN,1.012341,NaN,NaN,NaN
2018-01-03,40.373962,118071600,1,NaN,0.998261,0.999826,NaN,NaN
2018-01-04,40.561493,89738400,1,NaN,1.002840,1.004645,NaN,NaN
2018-01-05,41.023312,94640000,0,NaN,1.008994,1.011386,NaN,NaN
2018-01-08,40.870945,82271200,0,NaN,1.000000,0.996286,NaN,NaN

In [62]:
df['Rolling_mean_20'] = df['Close'].rolling(window=20, min_periods=1).mean()
df.head()

,Close,Volume,Target,Rolling_STD_30,Close_Open_Ratio,Day_to_Day_Change,MA_20,Close_MA20_Ratio,Rolling_mean_20
Date,,,,,,,,,
2018-01-02,40.380997,102223600,0,NaN,1.012341,NaN,NaN,NaN,40.380997
2018-01-03,40.373962,118071600,1,NaN,0.998261,0.999826,NaN,NaN,40.377480
2018-01-04,40.561493,89738400,1,NaN,1.002840,1.004645,NaN,NaN,40.438817
2018-01-05,41.023312,94640000,0,NaN,1.008994,1.011386,NaN,NaN,40.584941
2018-01-08,40.870945,82271200,0,NaN,1.000000,0.996286,NaN,NaN,40.642142

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1954 entries, 2018-01-02 to 2025-10-09
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Close              1954 non-null   float64
 1   Volume             1954 non-null   int64
 2   Target             1954 non-null   int64
 3   Rolling_STD_30     1935 non-null   float64
 4   Close_Open_Ratio   1954 non-null   float64
 5   Day_to_Day_Change  1953 non-null   float64
 6   MA_20              1935 non-null   float64
 7   Close_MA20_Ratio   1935 non-null   float64
 8   Rolling_mean_20    1954 non-null   float64
dtypes: float64(7), int64(2)
memory usage: 152.7+ KB

In [64]:
df.Rolling_mean_20.unique()

array([ 40.3809967 ,  40.37747955,  40.43881734, ..., 247.80449905,
       249.36799927, 250.56849899])

In [65]:
df.Rolling_STD_30.unique()

array([        nan,  0.78761162,  0.86161255, ..., 10.54350962,
        9.53338027,  8.41635851])

In [66]:
df.tail()

,Close,Volume,Target,Rolling_STD_30,Close_Open_Ratio,Day_to_Day_Change,MA_20,Close_MA20_Ratio,Rolling_mean_20
Date,,,,,,,,,
2025-10-03,258.019989,49155600,0,10.646582,1.013154,1.003461,245.757499,1.049897,245.757499
2025-10-06,256.690002,44664100,0,10.744444,0.994961,0.994845,246.697999,1.040503,246.697999
2025-10-07,256.480011,31955800,1,10.543510,0.998715,0.999182,247.804499,1.035010,247.804499
2025-10-08,258.059998,36496900,0,9.533380,1.006003,1.006160,249.367999,1.034856,249.367999
2025-10-09,254.039993,38270200,0,8.416359,0.985377,0.984422,250.568499,1.013854,250.568499

In [67]:
df["Returns"] = df['Close'].pct_change()

In [68]:
df['Returns'].std()

0.019584151927526883

In [69]:
df['Returns'].mean()

0.0011335279411230365

In [70]:
df.head()

,Close,Volume,Target,Rolling_STD_30,Close_Open_Ratio,Day_to_Day_Change,MA_20,Close_MA20_Ratio,Rolling_mean_20,Returns
Date,,,,,,,,,,
2018-01-02,40.380997,102223600,0,NaN,1.012341,NaN,NaN,NaN,40.380997,NaN
2018-01-03,40.373962,118071600,1,NaN,0.998261,0.999826,NaN,NaN,40.377480,-0.000174
2018-01-04,40.561493,89738400,1,NaN,1.002840,1.004645,NaN,NaN,40.438817,0.004645
2018-01-05,41.023312,94640000,0,NaN,1.008994,1.011386,NaN,NaN,40.584941,0.011386
2018-01-08,40.870945,82271200,0,NaN,1.000000,0.996286,NaN,NaN,40.642142,-0.003714

In [71]:
df.tail()

,Close,Volume,Target,Rolling_STD_30,Close_Open_Ratio,Day_to_Day_Change,MA_20,Close_MA20_Ratio,Rolling_mean_20,Returns
Date,,,,,,,,,,
2025-10-03,258.019989,49155600,0,10.646582,1.013154,1.003461,245.757499,1.049897,245.757499,0.003461
2025-10-06,256.690002,44664100,0,10.744444,0.994961,0.994845,246.697999,1.040503,246.697999,-0.005155
2025-10-07,256.480011,31955800,1,10.543510,0.998715,0.999182,247.804499,1.035010,247.804499,-0.000818
2025-10-08,258.059998,36496900,0,9.533380,1.006003,1.006160,249.367999,1.034856,249.367999,0.006160
2025-10-09,254.039993,38270200,0,8.416359,0.985377,0.984422,250.568499,1.013854,250.568499,-0.015578

In [73]:
df.shape

(1954, 10)

In [74]:
df.dropna(inplace=True)

In [75]:
df.shape

(1935, 10)

In [76]:
X = df.drop("Target", axis="columns")

In [77]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_std = scaler.fit_transform(X)

In [81]:
df.describe()

,Close,Volume,Target,Rolling_STD_30,Close_Open_Ratio,Day_to_Day_Change,MA_20,Close_MA20_Ratio,Rolling_mean_20,Returns
count,1935.000000,1.935000e+03,1935.000000,1935.000000,1935.000000,1935.000000,1935.000000,1935.000000,1935.000000,1935.000000
mean,132.617404,9.558730e+07,0.535401,4.019056,1.001109,1.001157,131.567858,1.009465,131.567858,0.001157
std,63.373770,5.460094e+07,0.498874,2.545843,0.015170,0.019652,62.941119,0.045115,62.941119,0.019652
min,33.832439,2.323470e+07,0.000000,0.387471,0.923514,0.871353,36.348519,0.813903,36.348519,-0.128647
25%,64.450451,5.681065e+07,0.000000,2.047486,0.993389,0.991910,63.772155,0.980726,63.772155,-0.008090
50%,142.247177,8.222550e+07,1.000000,3.571303,1.000968,1.001255,142.259901,1.015339,142.259901,0.001255
75%,178.955132,1.155844e+08,1.000000,5.481253,1.009458,1.011257,178.098287,1.040207,178.098287,0.011257
max,258.103729,4.265100e+08,1.000000,16.033866,1.156441,1.153289,250.568499,1.147494,250.568499,0.153289

In [83]:
df.to_csv("../data/model_features_stock_data.csv")