In [82]:
import pandas as pd

In [83]:
df = pd.read_csv('../data/clean_multi_stock_data.csv')
df.rename(columns={'Price':'Date'},inplace=True)
df.Date = pd.to_datetime(df["Date"], errors="coerce")
df.head()

,Date,Close,High,Low,Open,Volume,Ticker,Target
0,2015-01-02,24.261047,24.729270,23.821672,24.718174,212818400,AAPL,0
1,2015-01-05,23.577572,24.110148,23.391171,24.030261,257142000,AAPL,1
2,2015-01-06,23.579794,23.839424,23.218085,23.641928,263188400,AAPL,1
3,2015-01-07,23.910429,24.010286,23.677426,23.788380,160423600,AAPL,1
4,2015-01-08,24.829130,24.886826,24.121248,24.238859,237458000,AAPL,1

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10844 entries, 0 to 10843
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    10844 non-null  datetime64[ns]
 1   Close   10844 non-null  float64
 2   High    10844 non-null  float64
 3   Low     10844 non-null  float64
 4   Open    10844 non-null  float64
 5   Volume  10844 non-null  int64
 6   Ticker  10844 non-null  object
 7   Target  10844 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 677.9+ KB

In [85]:
df.corr(numeric_only=True)

           Close      High       Low      Open    Volume    Target
Close   1.000000  0.999771  0.999788  0.999577 -0.430876 -0.008432
High    0.999771  1.000000  0.999627  0.999798 -0.429137 -0.008075
Low     0.999788  0.999627  1.000000  0.999756 -0.432652 -0.008019
Open    0.999577  0.999798  0.999756  1.000000 -0.430718 -0.007903
Volume -0.430876 -0.429137 -0.432652 -0.430718  1.000000  0.015036
Target -0.008432 -0.008075 -0.008019 -0.007903  0.015036  1.000000

In [86]:
df['RAV'] = df.groupby('Ticker')['Volume'].transform(lambda x: x.rolling(7).mean())
df['Volitility'] = df.groupby('Ticker')['Close'].transform(lambda x: x.rolling(20).std())

In [87]:
df["Buy_Sell_Strength"] = (df["Close"]-df["Low"]) / (df["High"] - df["Low"])
df["Weighted_Strength"] = (df["Buy_Sell_Strength"] - 0.5) * (df["Volume"]/ df["RAV"])
df["Trend"] = (df["Buy_Sell_Strength"] - 0.5).rolling(25).mean()
df.dropna(inplace=True)

In [88]:
df.drop(["High","Low","Open"],axis="columns",inplace=True)
df.head()

,Date,Close,Volume,Ticker,Target,RAV,Volitility,Buy_Sell_Strength,Weighted_Strength,Trend
24,2015-02-06,26.495506,174826400,AAPL,1,2.508224e+08,1.046604,0.266668,-0.162635,-0.007055
25,2015-02-09,26.671505,155559200,AAPL,1,2.247958e+08,1.096023,0.914897,0.287110,0.010177
26,2015-02-10,27.183905,248034000,AAPL,1,2.123746e+08,1.149111,0.934671,0.507655,0.037193
27,2015-02-11,27.821060,294247200,AAPL,1,2.185590e+08,1.245724,0.983471,0.650899,0.053246
28,2015-02-12,28.173054,297898000,AAPL,1,2.314498e+08,1.339346,0.465967,-0.043803,0.043885

In [89]:
df_dummies = pd.get_dummies(data=df["Ticker"])
df_dummies.head()

    AAPL   MSFT   NVDA   TSLA
24  True  False  False  False
25  True  False  False  False
26  True  False  False  False
27  True  False  False  False
28  True  False  False  False

In [90]:
df = pd.concat([df,df_dummies],axis=1)
# df.drop(['Ticker',"TSLA"],axis="columns",inplace=True)
df.head()

,Date,Close,Volume,Target,RAV,Volitility,Buy_Sell_Strength,Weighted_Strength,Trend,AAPL,MSFT,NVDA
24,2015-02-06,26.495506,174826400,1,2.508224e+08,1.046604,0.266668,-0.162635,-0.007055,True,False,False
25,2015-02-09,26.671505,155559200,1,2.247958e+08,1.096023,0.914897,0.287110,0.010177,True,False,False
26,2015-02-10,27.183905,248034000,1,2.123746e+08,1.149111,0.934671,0.507655,0.037193,True,False,False
27,2015-02-11,27.821060,294247200,1,2.185590e+08,1.245724,0.983471,0.650899,0.053246,True,False,False
28,2015-02-12,28.173054,297898000,1,2.314498e+08,1.339346,0.465967,-0.043803,0.043885,True,False,False

In [91]:
df.to_csv("../data/engineered_features_multi_stock_data.csv")