In [113]:
import yfinance as yf
import pandas as pd

In [114]:
ticker = "AAPL"   # You can change to TSLA, MSFT, NVDA, etc.
data = yf.download(ticker, start="2015-01-01", auto_adjust=True)

print(data.head())
data.to_csv("../data/raw_stock_data.csv")

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open     Volume
Ticker           AAPL       AAPL       AAPL       AAPL       AAPL
Date
2015-01-02  24.261047  24.729270  23.821672  24.718174  212818400
2015-01-05  23.577574  24.110150  23.391173  24.030263  257142000
2015-01-06  23.579800  23.839430  23.218091  23.641933  263188400
2015-01-07  23.910429  24.010286  23.677426  23.788380  160423600
2015-01-08  24.829130  24.886826  24.121248  24.238859  237458000

In [115]:
df = pd.read_csv("../data/raw_stock_data.csv", index_col=0, parse_dates=True, date_format="%Y-%m-%d")
df = df.dropna().drop_duplicates()
df.describe()

                     Close  High                 Low   Open     Volume
count                 2711  2711                2711   2711       2711
unique                2674  2711                2710   2710       2704
top     27.685062408447266  AAPL  229.33999633789062  237.0  118655600
freq                     2     1                   2      2          2

In [116]:
# import matplotlib.pyplot as plt

# plt.figure(figsize=(10,5))
# plt.plot(df.index, df["Close"])
# plt.title(f"{ticker} Closing Price Over Time")
# plt.xlabel("Date")
# plt.ylabel("Close Price ($)")
# plt.show()

In [117]:
df.head()

,Close,High,Low,Open,Volume
Price,,,,,
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL
2015-01-02,24.26104736328125,24.729270393437197,23.821671579713147,24.718174386973395,212818400
2015-01-05,23.577573776245117,24.110149898969926,23.391173064448488,24.030263395910563,257142000
2015-01-06,23.57979965209961,23.83943001030047,23.21809075132821,23.64193323939418,263188400
2015-01-07,23.910429000854492,24.010286263792274,23.67742646331634,23.788379730141653,160423600

In [118]:
df['Target'] = (df['Close'].shift(-1) > df['Close']).astype(int)

In [119]:
df.drop(["Ticker"],axis="rows",inplace=True)

In [120]:
df.head()

,Close,High,Low,Open,Volume,Target
Price,,,,,,
2015-01-02,24.26104736328125,24.729270393437197,23.821671579713147,24.718174386973395,212818400,0
2015-01-05,23.577573776245117,24.110149898969926,23.391173064448488,24.030263395910563,257142000,1
2015-01-06,23.57979965209961,23.83943001030047,23.21809075132821,23.64193323939418,263188400,1
2015-01-07,23.910429000854492,24.010286263792274,23.67742646331634,23.788379730141653,160423600,1
2015-01-08,24.829130172729492,24.886826364711517,24.12124755318299,24.238859477265255,237458000,1

In [121]:
df.columns

Index(['Close', 'High', 'Low', 'Open', 'Volume', 'Target'], dtype='object')

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2710 entries, 2015-01-02 to 2025-10-10
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   2710 non-null   object
 1   High    2710 non-null   object
 2   Low     2710 non-null   object
 3   Open    2710 non-null   object
 4   Volume  2710 non-null   object
 5   Target  2710 non-null   int32
dtypes: int32(1), object(5)
memory usage: 137.6+ KB

In [123]:
df.to_csv("../data/clean_stock_data.csv")

In [124]:
(df['Open'] > df['Close']).sum()

1255

In [125]:
(df.Target == 0).sum()

1273

In [126]:
(df['Open'] < df['Close']).sum()

1449

In [127]:
(df.Target == 1).sum()

1437

In [128]:
len(df.Target)

2710

In [129]:
df.tail()

,Close,High,Low,Open,Volume,Target
Price,,,,,,
2025-10-06,256.69000244140625,259.07000732421875,255.0500030517578,257.989990234375,44664100,0
2025-10-07,256.4800109863281,257.3999938964844,255.42999267578125,256.80999755859375,31955800,1
2025-10-08,258.05999755859375,258.5199890136719,256.1099853515625,256.5199890136719,36496900,0
2025-10-09,254.0399932861328,258.0,253.13999938964844,257.80999755859375,38322000,0
2025-10-10,245.27000427246094,256.3800048828125,244.0,254.94000244140625,61782400,0