In [155]:
import pandas as pd

In [156]:
df = pd.read_csv("../data/explored_stock_data.csv",index_col="Date")
df.drop("Unnamed: 0",axis="columns",inplace=True)
df.head()

,Close,High,Low,Open,Volume,Target,Rolling_STD_20
Date,,,,,,,
2015-01-02,24.261047,24.729270,23.821672,24.718174,212818400,0,NaN
2015-01-05,23.577574,24.110150,23.391173,24.030263,257142000,1,0.483289
2015-01-06,23.579800,23.839430,23.218091,23.641933,263188400,1,0.393963
2015-01-07,23.910429,24.010286,23.677426,23.788380,160423600,1,0.325868
2015-01-08,24.829130,24.886826,24.121248,24.238859,237458000,1,0.527647

In [157]:
df["Net_result"] = df.Close - df.Open
df["Close_Open_Ratio"] = df.Close / df.Open
df['Day_to_Day_Change'] = df['Close'] / df['Close'].shift(1)
df['MA_20'] = df['Close'].rolling(20).mean()
df['Close_MA20_Ratio'] = df['Close'] / df['MA_20']

In [158]:
df.drop(["High","Low","Open"],axis="columns",inplace=True)
df.head()

,Close,Volume,Target,Rolling_STD_20,Net_result,Close_Open_Ratio,Day_to_Day_Change,MA_20,Close_MA20_Ratio
Date,,,,,,,,,
2015-01-02,24.261047,212818400,0,NaN,-0.457127,0.981506,NaN,NaN,NaN
2015-01-05,23.577574,257142000,1,0.483289,-0.452690,0.981162,0.971828,NaN,NaN
2015-01-06,23.579800,263188400,1,0.393963,-0.062134,0.997372,1.000094,NaN,NaN
2015-01-07,23.910429,160423600,1,0.325868,0.122049,1.005131,1.014022,NaN,NaN
2015-01-08,24.829130,237458000,1,0.527647,0.590271,1.024352,1.038423,NaN,NaN

In [159]:
df['Rolling_mean_20'] = df['Close'].rolling(window=20, min_periods=1).mean()
df.head()

,Close,Volume,Target,Rolling_STD_20,Net_result,Close_Open_Ratio,Day_to_Day_Change,MA_20,Close_MA20_Ratio,Rolling_mean_20
Date,,,,,,,,,,
2015-01-02,24.261047,212818400,0,NaN,-0.457127,0.981506,NaN,NaN,NaN,24.261047
2015-01-05,23.577574,257142000,1,0.483289,-0.452690,0.981162,0.971828,NaN,NaN,23.919311
2015-01-06,23.579800,263188400,1,0.393963,-0.062134,0.997372,1.000094,NaN,NaN,23.806140
2015-01-07,23.910429,160423600,1,0.325868,0.122049,1.005131,1.014022,NaN,NaN,23.832212
2015-01-08,24.829130,237458000,1,0.527647,0.590271,1.024352,1.038423,NaN,NaN,24.031596

In [160]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2710 entries, 2015-01-02 to 2025-10-10
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Close              2710 non-null   float64
 1   Volume             2710 non-null   int64
 2   Target             2710 non-null   int64
 3   Rolling_STD_20     2709 non-null   float64
 4   Net_result         2710 non-null   float64
 5   Close_Open_Ratio   2710 non-null   float64
 6   Day_to_Day_Change  2709 non-null   float64
 7   MA_20              2691 non-null   float64
 8   Close_MA20_Ratio   2691 non-null   float64
 9   Rolling_mean_20    2710 non-null   float64
dtypes: float64(8), int64(2)
memory usage: 232.9+ KB

In [161]:
df.Rolling_mean_20.unique()

array([ 24.26104736,  23.91931057,  23.80614026, ..., 249.36799927,
       250.56849899, 251.12849884])

In [162]:
df.tail()

,Close,Volume,Target,Rolling_STD_20,Net_result,Close_Open_Ratio,Day_to_Day_Change,MA_20,Close_MA20_Ratio,Rolling_mean_20
Date,,,,,,,,,,
2025-10-06,256.690002,44664100,0,10.744444,-1.299988,0.994961,0.994845,246.697999,1.040503,246.697999
2025-10-07,256.480011,31955800,1,10.543510,-0.329987,0.998715,0.999182,247.804499,1.035010,247.804499
2025-10-08,258.059998,36496900,0,9.533380,1.540009,1.006003,1.006160,249.367999,1.034856,249.367999
2025-10-09,254.039993,38322000,0,8.416359,-3.770004,0.985377,0.984422,250.568499,1.013854,250.568499
2025-10-10,245.270004,61782400,0,7.593171,-9.669998,0.962070,0.965478,251.128499,0.976671,251.128499

In [163]:
df["Returns"] = df['Close'].pct_change()

In [164]:
df['Returns'].std()

0.018298510486465525

In [165]:
df['Returns'].mean()

0.0010215160290048078

In [166]:
df.head()

,Close,Volume,Target,Rolling_STD_20,Net_result,Close_Open_Ratio,Day_to_Day_Change,MA_20,Close_MA20_Ratio,Rolling_mean_20,Returns
Date,,,,,,,,,,,
2015-01-02,24.261047,212818400,0,NaN,-0.457127,0.981506,NaN,NaN,NaN,24.261047,NaN
2015-01-05,23.577574,257142000,1,0.483289,-0.452690,0.981162,0.971828,NaN,NaN,23.919311,-0.028172
2015-01-06,23.579800,263188400,1,0.393963,-0.062134,0.997372,1.000094,NaN,NaN,23.806140,0.000094
2015-01-07,23.910429,160423600,1,0.325868,0.122049,1.005131,1.014022,NaN,NaN,23.832212,0.014022
2015-01-08,24.829130,237458000,1,0.527647,0.590271,1.024352,1.038423,NaN,NaN,24.031596,0.038423

In [167]:
df.tail()

,Close,Volume,Target,Rolling_STD_20,Net_result,Close_Open_Ratio,Day_to_Day_Change,MA_20,Close_MA20_Ratio,Rolling_mean_20,Returns
Date,,,,,,,,,,,
2025-10-06,256.690002,44664100,0,10.744444,-1.299988,0.994961,0.994845,246.697999,1.040503,246.697999,-0.005155
2025-10-07,256.480011,31955800,1,10.543510,-0.329987,0.998715,0.999182,247.804499,1.035010,247.804499,-0.000818
2025-10-08,258.059998,36496900,0,9.533380,1.540009,1.006003,1.006160,249.367999,1.034856,249.367999,0.006160
2025-10-09,254.039993,38322000,0,8.416359,-3.770004,0.985377,0.984422,250.568499,1.013854,250.568499,-0.015578
2025-10-10,245.270004,61782400,0,7.593171,-9.669998,0.962070,0.965478,251.128499,0.976671,251.128499,-0.034522

In [168]:
df.shape

(2710, 11)

In [169]:
df.dropna(inplace=True)

In [170]:
df.shape

(2691, 11)

In [171]:
X = df.drop("Target", axis="columns")

In [172]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_std = scaler.fit_transform(X)

In [173]:
df.describe()

,Close,Volume,Target,Rolling_STD_20,Net_result,Close_Open_Ratio,Day_to_Day_Change,MA_20,Close_MA20_Ratio,Rolling_mean_20,Returns
count,2691.000000,2.691000e+03,2691.000000,2691.000000,2691.000000,2691.000000,2691.000000,2691.000000,2691.000000,2691.000000,2691.000000
mean,103.591456,1.117425e+08,0.529543,3.081136,0.095039,1.000881,1.000995,102.781700,1.008667,102.781700,0.000995
std,71.210814,6.668971e+07,0.499219,2.637649,1.842767,0.014261,0.018252,70.686531,0.042659,70.686531,0.018252
min,20.624052,2.323470e+07,0.000000,0.229654,-14.245131,0.923514,0.871353,21.427350,0.813903,21.427350,-0.128647
25%,36.689753,6.609815e+07,0.000000,0.865174,-0.420167,0.993603,0.992603,36.554066,0.982660,36.554066,-0.007397
50%,79.210693,9.513240e+07,1.000000,2.450778,0.051783,1.000911,1.000941,77.267926,1.012855,77.267926,0.000941
75%,166.096565,1.372656e+08,1.000000,4.681484,0.618949,1.008625,1.010046,165.367191,1.037004,165.367191,0.010046
max,258.103729,6.488252e+08,1.000000,16.033859,26.834325,1.156441,1.153288,251.128499,1.147494,251.128499,0.153288

In [174]:
df.to_csv("../data/model_features_stock_data.csv")