In [1]:
import pandas as pd

In [51]:
df_stock = pd.read_csv("../data/engineered_interleaved_features_multi_stock_data.csv")
df_stock = df_stock.drop("Unnamed: 0",axis=1)
df_stock.rename(columns={'Date':'date'},inplace=True)
df_stock.head()

,date,Close,Volume,Target,RAV,volatility,Buy_Sell_Strength,Weighted_Strength,Trend,Returns,...,volume_rank,return_rank,lag_market_return,market_std,zscore_vs_market,return_1,return_2,vol_3,close_z,market_mean_return
0,2015-02-06,26.495508,174826400,1,2.508224e+08,1.046604,0.266668,-0.162635,-0.007055,-0.008421,...,0.75,0.50,NaN,0.006663,-0.131401,NaN,NaN,NaN,NaN,-0.007545
1,2015-02-06,36.218159,34616600,0,5.097210e+07,2.133874,0.406248,-0.063670,0.022419,-0.000942,...,0.25,1.00,-0.007545,0.006663,0.991057,-0.008421,NaN,NaN,NaN,-0.007545
2,2015-02-06,0.489517,210524000,0,2.155857e+08,0.010619,0.225000,-0.268543,0.023777,-0.004392,...,1.00,0.75,-0.007545,0.006663,0.473233,-0.000942,-0.008421,1.063699,NaN,-0.007545
3,2015-02-06,14.490667,48658500,1,5.486293e+07,0.608197,0.124639,-0.332912,0.016009,-0.016426,...,0.50,0.25,-0.007545,0.006663,-1.332888,-0.004392,-0.000942,0.917563,NaN,-0.007545
4,2015-02-09,26.671497,155559200,1,2.247958e+08,1.096022,0.914897,0.287110,0.010177,0.006642,...,0.75,1.00,NaN,0.003671,1.466334,NaN,NaN,0.571613,NaN,0.001259

In [41]:
df_news = pd.read_csv("../data/News_sentiment.csv")
df_news.head()

,date,title,sentiment,score,MSFT,APPL,NVDA,TSLA
0,2008-02-01 09:30:00,['Microsoft offers to buy Yahoo for $44.6 bn\n...,positive,0.668940,True,False,False,False
1,2008-02-01 12:41:00,Microsoft offers to buy Yahoo for $44.6 bn\nTh...,positive,0.635262,True,False,False,False
2,2008-02-01 14:50:00,Microsoft 'bear hug' for Yahoo could create Go...,positive,0.728866,True,False,False,False
3,2008-02-04 09:30:00,['Microsoft plus Yahoo: Booster dose for MSN i...,positive,0.757488,True,False,False,False
4,2008-02-05 09:30:00,['Microsoft may borrow for first time to buy Y...,positive,0.724632,True,False,False,False

In [42]:
def compute_polarity(row):
    if row['sentiment'] == 'positive':
        return row['score'] * 1.0
    elif row['sentiment'] == 'neutral':
        return row['score'] * 0.5
    else:  # negative
        return row['score'] * 0.0

df_news['sentiment_polarity'] = df_news.apply(compute_polarity, axis=1)
df_news.head()

,date,title,sentiment,score,MSFT,APPL,NVDA,TSLA,sentiment_polarity
0,2008-02-01 09:30:00,['Microsoft offers to buy Yahoo for $44.6 bn\n...,positive,0.668940,True,False,False,False,0.668940
1,2008-02-01 12:41:00,Microsoft offers to buy Yahoo for $44.6 bn\nTh...,positive,0.635262,True,False,False,False,0.635262
2,2008-02-01 14:50:00,Microsoft 'bear hug' for Yahoo could create Go...,positive,0.728866,True,False,False,False,0.728866
3,2008-02-04 09:30:00,['Microsoft plus Yahoo: Booster dose for MSN i...,positive,0.757488,True,False,False,False,0.757488
4,2008-02-05 09:30:00,['Microsoft may borrow for first time to buy Y...,positive,0.724632,True,False,False,False,0.724632

In [43]:
df_dummies = pd.get_dummies(df_news['sentiment'])
df_dummies.head()

   negative  neutral  positive
0     False    False      True
1     False    False      True
2     False    False      True
3     False    False      True
4     False    False      True

In [44]:
df_news_sent = pd.concat([df_news,df_dummies],axis=1)
# df_news = df_news.drop("sentiment",axis=1)
df_news_sent.rename(columns={'negative':'sentiment_neg', 'neutral':'sentiment_neu','positive':'sentiment_pos'},inplace=True)
df_news_sent = df_news_sent[['date','sentiment_polarity','sentiment_neg','sentiment_neu','sentiment_pos']]
df_news_sent.head()

,date,sentiment_polarity,sentiment_neg,sentiment_neu,sentiment_pos
0,2008-02-01 09:30:00,0.668940,False,False,True
1,2008-02-01 12:41:00,0.635262,False,False,True
2,2008-02-01 14:50:00,0.728866,False,False,True
3,2008-02-04 09:30:00,0.757488,False,False,True
4,2008-02-05 09:30:00,0.724632,False,False,True

In [45]:
df_APPL = pd.read_csv("../data/apple_news_data.csv",)
df_APPL.head()

,date,title,content,link,symbols,tags,sentiment_polarity,sentiment_neg,sentiment_neu,sentiment_pos
0,2024-11-27T16:39:00+00:00,Berkshire Stock Hits Record Even as Company Re...,"Warren Buffett’s caution, his advancing age, a...",https://finance.yahoo.com/m/f5df3aa4-364b-31d6...,"0R2V.IL, AAPL.BA, AAPL.MX, AAPL.NEO, AAPL.SN, ...",NaN,0.0,0.0,1.0,0.0
1,2024-11-26T00:00:00+00:00,What Is a Stock Market Index?,What Is a Stock Market Index?,https://www.fool.com/investing/stock-market/in...,"AAPL.US, AMZN.US, MSFT.US",NaN,0.0,0.0,1.0,0.0
2,2024-11-26T00:00:00+00:00,"Could Investing $1,000 in Apple Make You a Mil...","Could Investing $1,000 in Apple Make You a Mil...",https://www.fool.com/investing/2024/11/26/coul...,AAPL.US,NaN,0.0,0.0,1.0,0.0
3,2024-11-26T00:00:00+00:00,Dow Jones Industrial Average,Dow Jones Industrial Average,https://www.fool.com/investing/stock-market/in...,"AAPL.US, AMGN.US, AMZN.US, CSCO.US, GOOG.US, G...",NaN,0.0,0.0,1.0,0.0
4,2024-11-26T00:00:00+00:00,What Is the S&P 500 Index?,What Is the S&P 500 Index?,https://www.fool.com/investing/stock-market/in...,"AAPL.US, AMZN.US, GOOG.US, GOOGL.US, META.US, ...",NaN,0.0,0.0,1.0,0.0

In [46]:
df_APPL = df_APPL[['date','sentiment_polarity','sentiment_neg','sentiment_neu','sentiment_pos']]
df_APPL.head()

,date,sentiment_polarity,sentiment_neg,sentiment_neu,sentiment_pos
0,2024-11-27T16:39:00+00:00,0.0,0.0,1.0,0.0
1,2024-11-26T00:00:00+00:00,0.0,0.0,1.0,0.0
2,2024-11-26T00:00:00+00:00,0.0,0.0,1.0,0.0
3,2024-11-26T00:00:00+00:00,0.0,0.0,1.0,0.0
4,2024-11-26T00:00:00+00:00,0.0,0.0,1.0,0.0

In [58]:
df_news_sentiment = pd.concat([df_APPL,df_news_sent],axis=0)
df_news_sentiment = df_news_sentiment.rename(columns={'date':'datetime'})
df_news_sentiment.head()

,datetime,sentiment_polarity,sentiment_neg,sentiment_neu,sentiment_pos
0,2024-11-27T16:39:00+00:00,0.0,0.0,1.0,0.0
1,2024-11-26T00:00:00+00:00,0.0,0.0,1.0,0.0
2,2024-11-26T00:00:00+00:00,0.0,0.0,1.0,0.0
3,2024-11-26T00:00:00+00:00,0.0,0.0,1.0,0.0
4,2024-11-26T00:00:00+00:00,0.0,0.0,1.0,0.0

In [48]:
df_news_sentiment.tail()

,date,sentiment_polarity,sentiment_neg,sentiment_neu,sentiment_pos
25572,2024-12-27 19:45:00+00:00,0.899294,0.0,0.0,1.0
25573,2024-12-28 10:15:00+00:00,0.887846,0.0,0.0,1.0
25574,2024-12-28 10:45:00+00:00,0.902809,0.0,0.0,1.0
25575,2024-12-28 19:00:00+00:00,0.000000,1.0,0.0,0.0
25576,2024-12-31 13:30:00+00:00,0.793314,0.0,0.0,1.0

In [34]:
print(df_stock.shape,df_news_sentiment.shape)

(10804, 28) (55329, 4)

In [59]:
df_news_sentiment['datetime'] = pd.to_datetime(df_news_sentiment['datetime'], format="mixed", utc=True)
df_news_sentiment = df_news_sentiment.set_index('datetime').sort_index()
df_news_sentiment.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 55329 entries, 2008-02-01 09:30:00+00:00 to 2024-12-31 18:30:00+00:00
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   sentiment_polarity  55314 non-null  float64
 1   sentiment_neg       55314 non-null  float64
 2   sentiment_neu       55314 non-null  float64
 3   sentiment_pos       55314 non-null  float64
dtypes: float64(4)
memory usage: 2.1 MB

In [57]:
df_stock['date'] = pd.to_datetime(df_stock['date'])
df_stock = df_stock.set_index('date').sort_index()
df_stock.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10804 entries, 2015-02-06 to 2025-10-31
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Close               10804 non-null  float64
 1   Volume              10804 non-null  int64
 2   Target              10804 non-null  int64
 3   RAV                 10804 non-null  float64
 4   volatility          10804 non-null  float64
 5   Buy_Sell_Strength   10804 non-null  float64
 6   Weighted_Strength   10804 non-null  float64
 7   Trend               10804 non-null  float64
 8   Returns             10804 non-null  float64
 9   Log_returns         10804 non-null  float64
 10  AAPL                10804 non-null  bool
 11  MSFT                10804 non-null  bool
 12  NVDA                10804 non-null  bool
 13  TSLA                10804 non-null  bool
 14  market_return       10804 non-null  float64
 15  rel_return          10804 non-null  float64
 16  mean_return_others  10804 non-null  float64
 17  divergence          10804 non-null  float64
 18  volume_rank         10804 non-null  float64
 19  return_rank         10804 non-null  float64
 20  lag_market_return   8103 non-null   float64
 21  market_std          10804 non-null  float64
 22  zscore_vs_market    10804 non-null  float64
 23  return_1            8103 non-null   float64
 24  return_2            5402 non-null   float64
 25  vol_3               10802 non-null  float64
 26  close_z             10795 non-null  float64
 27  market_mean_return  10804 non-null  float64
dtypes: bool(4), float64(22), int64(2)
memory usage: 2.1 MB

In [64]:
df_news_sentiment['date'] = df_news_sentiment.index.date
df_news_sentiment['date'] = pd.to_datetime(df_news_sentiment['date'])
df_news_sentiment.head()

,sentiment_polarity,sentiment_neg,sentiment_neu,sentiment_pos,date
datetime,,,,,
2008-02-01 09:30:00+00:00,0.668940,0.0,0.0,1.0,2008-02-01
2008-02-01 12:41:00+00:00,0.635262,0.0,0.0,1.0,2008-02-01
2008-02-01 14:50:00+00:00,0.728866,0.0,0.0,1.0,2008-02-01
2008-02-04 09:30:00+00:00,0.757488,0.0,0.0,1.0,2008-02-04
2008-02-05 09:30:00+00:00,0.724632,0.0,0.0,1.0,2008-02-05

In [65]:
df_news_sentiment.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 55329 entries, 2008-02-01 09:30:00+00:00 to 2024-12-31 18:30:00+00:00
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   sentiment_polarity  55314 non-null  float64
 1   sentiment_neg       55314 non-null  float64
 2   sentiment_neu       55314 non-null  float64
 3   sentiment_pos       55314 non-null  float64
 4   date                55329 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4)
memory usage: 2.5 MB

In [66]:
merged_intraday = df_news_sentiment.merge(
    df_stock,
    left_on="date",
    right_index=True,
    how="left"
)
merged_intraday.head()

,sentiment_polarity,sentiment_neg,sentiment_neu,sentiment_pos,date,Close,Volume,Target,RAV,volatility,...,volume_rank,return_rank,lag_market_return,market_std,zscore_vs_market,return_1,return_2,vol_3,close_z,market_mean_return
datetime,,,,,,,,,,,,,,,,,,,,,
2008-02-01 09:30:00+00:00,0.668940,0.0,0.0,1.0,2008-02-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-02-01 12:41:00+00:00,0.635262,0.0,0.0,1.0,2008-02-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-02-01 14:50:00+00:00,0.728866,0.0,0.0,1.0,2008-02-01,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-02-04 09:30:00+00:00,0.757488,0.0,0.0,1.0,2008-02-04,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-02-05 09:30:00+00:00,0.724632,0.0,0.0,1.0,2008-02-05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
daily_sentiment = (
    df_news_sentiment.groupby('date')
    .agg({
        'sentiment_polarity': ['mean', 'sum'],  # overall sentiment per day
        'sentiment_pos': 'sum',
        'sentiment_neg': 'sum',
        'sentiment_neu': 'sum'
    })
)
daily_sentiment.columns = [
    'pol_mean', 'pol_sum',
    'pos_count', 'neg_count', 'neu_count'
]
daily_sentiment.head()

            pol_mean   pol_sum  pos_count  neg_count  neu_count
date
2008-02-01  0.677689  2.033068        3.0        0.0        0.0
2008-02-04  0.757488  0.757488        1.0        0.0        0.0
2008-02-05  0.724632  0.724632        1.0        0.0        0.0
2008-02-06  0.743067  0.743067        1.0        0.0        0.0
2008-02-07  0.000000  0.000000        0.0        1.0        0.0

In [70]:
daily_sentiment.tail()

            pol_mean   pol_sum  pos_count  neg_count  neu_count
date
2024-12-24  0.645916  7.750996       10.0        1.0        1.0
2024-12-26  0.861769  1.723537        2.0        0.0        0.0
2024-12-27  0.693276  6.239485        7.0        2.0        0.0
2024-12-28  0.630183  2.520734        3.0        1.0        0.0
2024-12-31  0.832216  1.664433        2.0        0.0        0.0

In [71]:
daily_sentiment.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4251 entries, 2008-02-01 to 2024-12-31
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pol_mean   4251 non-null   float64
 1   pol_sum    4251 non-null   float64
 2   pos_count  4251 non-null   float64
 3   neg_count  4251 non-null   float64
 4   neu_count  4251 non-null   float64
dtypes: float64(5)
memory usage: 199.3 KB

In [73]:
stock_with_sentiment = df_stock.merge(
    daily_sentiment,
    left_index=True,
    right_index=True,
    how="left"
)
stock_with_sentiment.head()

,Close,Volume,Target,RAV,volatility,Buy_Sell_Strength,Weighted_Strength,Trend,Returns,Log_returns,...,return_1,return_2,vol_3,close_z,market_mean_return,pol_mean,pol_sum,pos_count,neg_count,neu_count
date,,,,,,,,,,,,,,,,,,,,,
2015-02-06,26.495508,174826400,1,2.508224e+08,1.046604,0.266668,-0.162635,-0.007055,-0.008421,8.064544,...,NaN,NaN,NaN,NaN,-0.007545,NaN,NaN,NaN,NaN,NaN
2015-02-06,36.218159,34616600,0,5.097210e+07,2.133874,0.406248,-0.063670,0.022419,-0.000942,10.087210,...,-0.008421,NaN,NaN,NaN,-0.007545,NaN,NaN,NaN,NaN,NaN
2015-02-06,0.489517,210524000,0,2.155857e+08,0.010619,0.225000,-0.268543,0.023777,-0.004392,-0.689525,...,-0.000942,-0.008421,1.063699,NaN,-0.007545,NaN,NaN,NaN,NaN,NaN
2015-02-06,14.490667,48658500,1,5.486293e+07,0.608197,0.124639,-0.332912,0.016009,-0.016426,5.386730,...,-0.004392,-0.000942,0.917563,NaN,-0.007545,NaN,NaN,NaN,NaN,NaN
2015-02-09,26.671497,155559200,1,2.247958e+08,1.096022,0.914897,0.287110,0.010177,0.006642,8.139060,...,NaN,NaN,0.571613,NaN,0.001259,0.0,0.0,0.0,1.0,0.0

In [95]:
stock_with_sentiment.sample(5)

,Close,Volume,Target,RAV,volatility,Buy_Sell_Strength,Weighted_Strength,Trend,Returns,Log_returns,...,return_1,return_2,vol_3,close_z,market_mean_return,pol_mean,pol_sum,pos_count,neg_count,neu_count
date,,,,,,,,,,,,,,,,,,,,,
2020-04-06,157.643921,67111700,0,5.919220e+07,8.613567,0.862108,0.410556,-0.009516,0.074368,31.600795,...,0.087237,NaN,5.737090,1.476344,0.084372,0.697292,5.578332,6.000,1.000,1.000
2021-06-30,226.566666,56774700,0,8.000211e+07,11.535210,0.106340,-0.279366,0.007470,-0.001557,41.766539,...,-0.001211,-0.001842,6.382578,0.714972,0.000003,0.549627,21.985099,8.037,2.151,29.813
2023-05-23,30.664227,356253000,0,4.466789e+08,1.361523,0.086757,-0.329586,0.078644,-0.015653,8.916939,...,-0.018432,-0.015155,3.530734,-1.246278,-0.016413,0.469782,8.925859,6.813,3.397,8.790
2020-02-24,55.585999,227883000,0,2.805634e+08,7.443848,0.280630,-0.178180,0.074925,-0.074595,13.572606,...,-0.070698,-0.043116,5.225505,-0.209628,-0.058977,0.677514,4.742600,5.000,1.000,1.000
2017-05-16,63.300777,34956000,0,2.477030e+07,1.156292,0.976563,0.672529,0.115879,0.020136,15.334632,...,-0.001478,NaN,0.991759,1.265242,0.010212,0.562742,17.445002,14.000,3.000,14.000

In [75]:
stock_with_sentiment.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10804 entries, 2015-02-06 to 2025-10-31
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Close               10804 non-null  float64
 1   Volume              10804 non-null  int64
 2   Target              10804 non-null  int64
 3   RAV                 10804 non-null  float64
 4   volatility          10804 non-null  float64
 5   Buy_Sell_Strength   10804 non-null  float64
 6   Weighted_Strength   10804 non-null  float64
 7   Trend               10804 non-null  float64
 8   Returns             10804 non-null  float64
 9   Log_returns         10804 non-null  float64
 10  AAPL                10804 non-null  bool
 11  MSFT                10804 non-null  bool
 12  NVDA                10804 non-null  bool
 13  TSLA                10804 non-null  bool
 14  market_return       10804 non-null  float64
 15  rel_return          10804 non-null  float64
 16  mean_return_others  10804 non-null  float64
 17  divergence          10804 non-null  float64
 18  volume_rank         10804 non-null  float64
 19  return_rank         10804 non-null  float64
 20  lag_market_return   8103 non-null   float64
 21  market_std          10804 non-null  float64
 22  zscore_vs_market    10804 non-null  float64
 23  return_1            8103 non-null   float64
 24  return_2            5402 non-null   float64
 25  vol_3               10802 non-null  float64
 26  close_z             10795 non-null  float64
 27  market_mean_return  10804 non-null  float64
 28  pol_mean            9616 non-null   float64
 29  pol_sum             9616 non-null   float64
 30  pos_count           9616 non-null   float64
 31  neg_count           9616 non-null   float64
 32  neu_count           9616 non-null   float64
dtypes: bool(4), float64(27), int64(2)
memory usage: 2.5 MB

In [97]:
stock_with_sentiment['has_news'] = (~stock_with_sentiment['pol_mean'].isna()).astype(int)
sentiment_cols = ['pol_mean','pol_sum','pos_count','neg_count','neu_count'] 
stock_with_sentiment[sentiment_cols] = stock_with_sentiment[sentiment_cols].fillna(0)
stock_with_sentiment.head()

,Close,Volume,Target,RAV,volatility,Buy_Sell_Strength,Weighted_Strength,Trend,Returns,Log_returns,...,return_2,vol_3,close_z,market_mean_return,pol_mean,pol_sum,pos_count,neg_count,neu_count,has_news
date,,,,,,,,,,,,,,,,,,,,,
2015-02-06,26.495508,174826400,1,2.508224e+08,1.046604,0.266668,-0.162635,-0.007055,-0.008421,8.064544,...,NaN,NaN,NaN,-0.007545,0.0,0.0,0.0,0.0,0.0,0
2015-02-06,36.218159,34616600,0,5.097210e+07,2.133874,0.406248,-0.063670,0.022419,-0.000942,10.087210,...,NaN,NaN,NaN,-0.007545,0.0,0.0,0.0,0.0,0.0,0
2015-02-06,0.489517,210524000,0,2.155857e+08,0.010619,0.225000,-0.268543,0.023777,-0.004392,-0.689525,...,-0.008421,1.063699,NaN,-0.007545,0.0,0.0,0.0,0.0,0.0,0
2015-02-06,14.490667,48658500,1,5.486293e+07,0.608197,0.124639,-0.332912,0.016009,-0.016426,5.386730,...,-0.000942,0.917563,NaN,-0.007545,0.0,0.0,0.0,0.0,0.0,0
2015-02-09,26.671497,155559200,1,2.247958e+08,1.096022,0.914897,0.287110,0.010177,0.006642,8.139060,...,NaN,0.571613,NaN,0.001259,0.0,0.0,0.0,1.0,0.0,1

In [99]:
stock_with_sentiment.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10804 entries, 2015-02-06 to 2025-10-31
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Close               10804 non-null  float64
 1   Volume              10804 non-null  int64
 2   Target              10804 non-null  int64
 3   RAV                 10804 non-null  float64
 4   volatility          10804 non-null  float64
 5   Buy_Sell_Strength   10804 non-null  float64
 6   Weighted_Strength   10804 non-null  float64
 7   Trend               10804 non-null  float64
 8   Returns             10804 non-null  float64
 9   Log_returns         10804 non-null  float64
 10  AAPL                10804 non-null  bool
 11  MSFT                10804 non-null  bool
 12  NVDA                10804 non-null  bool
 13  TSLA                10804 non-null  bool
 14  market_return       10804 non-null  float64
 15  rel_return          10804 non-null  float64
 16  mean_return_others  10804 non-null  float64
 17  divergence          10804 non-null  float64
 18  volume_rank         10804 non-null  float64
 19  return_rank         10804 non-null  float64
 20  lag_market_return   8103 non-null   float64
 21  market_std          10804 non-null  float64
 22  zscore_vs_market    10804 non-null  float64
 23  return_1            8103 non-null   float64
 24  return_2            5402 non-null   float64
 25  vol_3               10802 non-null  float64
 26  close_z             10795 non-null  float64
 27  market_mean_return  10804 non-null  float64
 28  pol_mean            10804 non-null  float64
 29  pol_sum             10804 non-null  float64
 30  pos_count           10804 non-null  float64
 31  neg_count           10804 non-null  float64
 32  neu_count           10804 non-null  float64
 33  has_news            10804 non-null  int32
dtypes: bool(4), float64(27), int32(1), int64(2)
memory usage: 2.6 MB

In [81]:
df_news_sentiment['sentiment_polarity'].isna().sum()

15

In [90]:
stock_with_sentiment['pol_mean'].isna().sum()

1188

In [93]:
daily_sentiment['pol_sum'].isna().sum()

0

In [101]:
stock_with_sentiment.to_csv('../data/stock_with_sentiment.csv')

In [102]:
merged_intraday.to_csv('../data/stock_merged_intraday.csv')