In [278]:
import yfinance as yf
import pandas as pd
from yahooquery import Ticker
from itertools import islice
import requests, time

In [279]:
from datasets import load_dataset
ds = load_dataset("cc_news", split="train")

ModuleNotFoundError: No module named 'datasets'

In [9]:
start = '20150101'
end = '20151231'
params = {
    "query": "nvidia",
    "maxrecords": "250",
    "format": "json",
    "startdatetime": f"{start}000000",
    "enddatetime": f"{end}235959"
}

url = "https://api.gdeltproject.org/api/v2/doc/doc"
headers = {"User-Agent": "Mozilla/5.0"}
time.sleep(2)

response = requests.get(url, params, headers=headers)
print(response.status_code)

200

In [307]:
start = '20190101'
end = '20191231'
url = "https://api.gdeltproject.org/api/v2/doc/doc"
params = {
    "query": "nvidia",
    "mode": "ArtList",
    "maxrecords": "200",
    "format": "json",
    "startdatetime": f"{start}000000",
    "enddatetime": f"{end}000000"
}

# url = "https://api.gdeltproject.org/api/v2/doc/doc?query=nvidia&maxrecords=100&format=json&startdatetime=20190101000000&enddatetime=20191231235959"
headers = {"User-Agent": "Mozilla/5.0"}
time.sleep(2)

response = requests.get(url, params=params, headers=headers)
print(response.status_code)
data = response.json().get('articles', [])
df_NVDA_2019 = pd.DataFrame(data)
df_NVDA_2019.head()

200

,url,url_mobile,title,seendate,socialimage,domain,language,sourcecountry
0,https://www.msn.com/en-us/finance/topstocks/nv...,,Nvidia : Buy at the High ?,20191224T211500Z,,msn.com,English,United States
1,https://www.fool.com/investing/2019/12/24/why-...,https://www.fool.com/amp/investing/2019/12/24/...,Why NVIDIA Stock Should Be On Your 2020 Shoppi...,20191225T201500Z,https://g.foolcdn.com/editorial/images/551582/...,fool.com,English,United States
2,https://www.fool.com/investing/2019/12/24/why-...,https://www.fool.com/amp/investing/2019/12/24/...,Why NVIDIA Stock Should Be On Your 2020 Shoppi...,20191224T173000Z,https://g.foolcdn.com/editorial/images/551582/...,fool.com,English,United States
3,https://www.fool.com/investing/2019/12/24/nvid...,https://www.fool.com/amp/investing/2019/12/24/...,Nvidia : Buy at the High ? | The Motley Fool,20191224T173000Z,,fool.com,English,United States
4,https://medium.com/swlh/defining-user-restrict...,,Defining User Restrictions for GPUs,20191210T101500Z,https://miro.medium.com/max/672/1*9F8c0yoKGl2C...,medium.com,English,United States

In [317]:
# import time

# start_time = time.perf_counter()
# url = "https://api.gdeltproject.org/api/v2/doc/doc"

# for year in range(2020,2025):
#     for start_month, end_month in zip(range(1,12),range(2,13)):
#         if len(str(start_month)) == 1:
#             start_month = f'0{start_month}' 
#         if  len(str(end_month)) == 1:
#             end_month = f'0{end_month}' 
            
#         params = {
#             "query": "nvidia",
#             "mode": "ArtList",
#             "maxrecords": "200",
#             "format": "json",
#             "startdatetime": f"{year}{start_month}01000000",
#             "enddatetime": f"{year}{end_month}31000000"
#         }
        
#         headers = {"User-Agent": "Mozilla/5.0"}
#         time.sleep(2)
        
#         response = requests.get(url, params=params, headers=headers)
#         print(response.status_code)
#         data = response.json().get('articles', [])
#         df = pd.DataFrame(data)[['seendate','title','url','sourcecountry','language']]
#         df.to_csv(f"../data/NVDA_{year}_{start_month}_to_{end_month}_stock_news.csv")
#         print(df.head())
#         print(start_month, end_month)
# end_ttime = time.perf_counter()

# elapsed_time = end_ttime - start_time
# print(f'code excuted in: {elapsed_time:.4f} seconds')

In [135]:
# df_APPL = pd.read_csv("../data/apple_news_data.csv")
df_MSFT = pd.read_csv("../data/microsoft_processed.csv")
df_TSLA = pd.read_csv("../data/tesla_processed.csv")
df_MSFT.Date = pd.to_datetime(df_MSFT["Date"], errors="coerce")
df_TSLA.Date = pd.to_datetime(df_TSLA["Date"], errors="coerce")

In [115]:
(df_MSFT['News'] == ' ').sum()

8190

In [136]:
print(df_MSFT.shape, df_TSLA.shape)

(1549751, 7) (864531, 7)

In [137]:
df_MSFT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1549751 entries, 0 to 1549750
Data columns (total 7 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   Date    1549751 non-null  datetime64[ns]
 1   Open    1549751 non-null  float64
 2   High    1549751 non-null  float64
 3   Low     1549751 non-null  float64
 4   Close   1549751 non-null  float64
 5   Volume  1549751 non-null  int64
 6   News    1549751 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 82.8+ MB

In [144]:
df_TSLA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864531 entries, 0 to 864530
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Date    864531 non-null  datetime64[ns]
 1   Open    864531 non-null  float64
 2   High    864531 non-null  float64
 3   Low     864531 non-null  float64
 4   Close   864531 non-null  float64
 5   Volume  864531 non-null  int64
 6   News    864531 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 46.2+ MB

In [138]:
df_MSFT.head()

                 Date    Open    High     Low   Close  Volume News
0 2008-01-02 09:30:00  26.101  26.230  26.010  26.158  885907
1 2008-01-02 09:31:00  26.167  26.238  26.054  26.129  162671
2 2008-01-02 09:32:00  26.145  26.223  26.054  26.143  129710
3 2008-01-02 09:33:00  26.152  26.238  26.046  26.158  143599
4 2008-01-02 09:34:00  26.167  26.260  26.075  26.180  211237

In [139]:
df_TSLA.head()

                 Date    Open    High     Low   Close  Volume News
0 2015-01-02 09:30:00  14.858  14.883  14.810  14.865  428550
1 2015-01-02 09:31:00  14.862  14.876  14.813  14.845  152475
2 2015-01-02 09:32:00  14.845  14.867  14.832  14.834  165600
3 2015-01-02 09:33:00  14.840  14.847  14.820  14.820   60000
4 2015-01-02 09:34:00  14.820  14.847  14.810  14.811  415800

In [140]:
df_MSFT.drop(df_MSFT[df_MSFT['Date'] < '2016-01-02 09:30:00'].index, axis=0, inplace=True)
df_TSLA.drop(df_TSLA[df_TSLA['Date'] < '2016-01-02 09:30:00'].index, axis=0, inplace=True)
df_MSFT.drop(['Open', 'High', 'Low', 'Close', 'Volume'], axis=1, inplace=True)
df_TSLA.drop(['Open', 'High', 'Low', 'Close', 'Volume'], axis=1, inplace=True)

In [146]:
print(df_MSFT.shape, df_TSLA.shape)

(766810, 7) (766835, 7)

In [148]:
df_TSLA.head()

,Date,Open,High,Low,Close,Volume,News
97696,2016-01-04 09:30:00,15.381,15.421,15.268,15.403,1908735,['16 startup founders to watch out for in 2016...
97697,2016-01-04 09:31:00,15.412,15.425,15.357,15.381,698655,['16 startup founders to watch out for in 2016...
97698,2016-01-04 09:32:00,15.381,15.419,15.361,15.403,622380,['16 startup founders to watch out for in 2016...
97699,2016-01-04 09:33:00,15.406,15.415,15.334,15.352,445680,['16 startup founders to watch out for in 2016...
97700,2016-01-04 09:34:00,15.368,15.388,15.301,15.361,709515,['16 startup founders to watch out for in 2016...

In [243]:
df_MSFT.head()

,Date,Open,High,Low,Close,Volume,News
782941,2016-01-04 09:30:00,48.422,48.471,48.034,48.182,1067228,['Microsoft criticises India’s cloud policy\nM...
782942,2016-01-04 09:31:00,48.191,48.239,47.945,48.030,347805,['Microsoft criticises India’s cloud policy\nM...
782943,2016-01-04 09:32:00,48.039,48.177,47.972,48.128,214609,['Microsoft criticises India’s cloud policy\nM...
782944,2016-01-04 09:33:00,48.140,48.293,48.052,48.234,218613,['Microsoft criticises India’s cloud policy\nM...
782945,2016-01-04 09:34:00,48.244,48.288,48.141,48.204,223449,['Microsoft criticises India’s cloud policy\nM...

In [245]:
len(df_MSFT['News'].unique())

2548

In [246]:
len(df_TSLA['News'].unique())

1961

In [242]:
df_2 = df_MSFT.drop_duplicates()
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 766806 entries, 782941 to 1549750
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Date    766806 non-null  datetime64[ns]
 1   Open    766806 non-null  float64
 2   High    766806 non-null  float64
 3   Low     766806 non-null  float64
 4   Close   766806 non-null  float64
 5   Volume  766806 non-null  int64
 6   News    766806 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 46.8+ MB

In [303]:
import time

def get_news_data(start_year,end_year,company):
    datasets = []
    start_time = time.perf_counter()
    url = "https://api.gdeltproject.org/api/v2/doc/doc"
    
    for year in range(start_year,end_year):
        print(year)
        print("--------------------")
        for start_month, end_month in zip(range(1,12),range(2,13)):
            if len(str(start_month)) == 1:
                start_month = f'0{start_month}' 
            if  len(str(end_month)) == 1:
                end_month = f'0{end_month}' 
                
            params = {
                "query": company,
                "mode": "ArtList",
                "maxrecords": "200",
                "format": "json",
                "startdatetime": f"{year}{start_month}01000000",
                "enddatetime": f"{year}{end_month}31000000"
            }
            
            headers = {"User-Agent": "Mozilla/5.0"}
            time.sleep(2)
            
            response = requests.get(url, params=params, headers=headers)
            # print(response.status_code)
            data = response.json().get('articles', [])
            df_1 = pd.DataFrame(data)[['seendate','title','url','sourcecountry','language']]
            datasets.append(df_1)
            # print(start_month, end_month)
    df = pd.concat(datasets,axis=0,ignore_index=True)
    df['Date'] = pd.to_datetime(df['seendate'], errors='coerce')
    df.drop('seendate', axis=1,inplace=True)
    # df['Date'] = df['Date'].dt.date
    df.sort_values(by='Date',inplace=True)
    end_ttime = time.perf_counter()
    
    elapsed_time = end_ttime - start_time
    print("-------------")
    print(f'code excuted in: {elapsed_time:.4f} seconds')
    return df

In [310]:
# df_MSFT_2019 = get_news_data(2019,2020,'microsoft')

2019
--------------------
-------------
code excuted in: 97.2459 seconds

In [291]:
# df_TSLA_2019 = get_news_data(2019,2020,'tesla')

2019
--------------------
-------------
code excuted in: 223.8823 seconds

In [301]:
# df_NVDA_2019 = get_news_data(2019,2020,'nvidia')

2019
--------------------

JSONDecodeError: Invalid control character at: line 1 column 94104 (char 94103)

In [237]:
df_APPL = pd.read_csv("../data/apple_news_data.csv")

In [296]:
df_TSLA = pd.concat([df_TSLA,df_TSLA_2019],axis=0,ignore_index=True)
df_TSLA.sort_values(by='Date',inplace=True)
df_TSLA.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17600 entries, 0 to 15399
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          17600 non-null  object
 1   url            17600 non-null  object
 2   sourcecountry  17600 non-null  object
 3   language       17600 non-null  object
 4   Date           17600 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), object(4)
memory usage: 825.0+ KB

In [325]:
df_TSLA_unique = df_TSLA.drop_duplicates(subset=['title', 'Date'])
df_TSLA_unique.to_csv("../data/TSLA_unique_stock_news.csv",index=False)
df_TSLA_unique.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11718 entries, 0 to 15399
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          11718 non-null  object
 1   url            11718 non-null  object
 2   sourcecountry  11718 non-null  object
 3   language       11718 non-null  object
 4   Date           11718 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), object(4)
memory usage: 549.3+ KB

In [326]:
(df_TSLA_unique['language'] == 'English').sum()

3107

In [311]:
df_MSFT = pd.concat([df_MSFT,df_MSFT_2019],axis=0,ignore_index=True)
df_MSFT.sort_values(by='Date',inplace=True)
df_MSFT.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17600 entries, 0 to 15399
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          17600 non-null  object
 1   url            17600 non-null  object
 2   sourcecountry  17600 non-null  object
 3   language       17600 non-null  object
 4   Date           17600 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), object(4)
memory usage: 825.0+ KB

In [321]:
df_MSFT_unique = df_MSFT.drop_duplicates(subset=['title', 'Date'])
df_MSFT_unique.to_csv("../data/MSFT_unique_stock_news.csv",index=False)
df_MSFT_unique.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11519 entries, 0 to 15399
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          11519 non-null  object
 1   url            11519 non-null  object
 2   sourcecountry  11519 non-null  object
 3   language       11519 non-null  object
 4   Date           11519 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), object(4)
memory usage: 540.0+ KB

In [324]:
(df_MSFT_unique['language'] == 'English').sum()

6177

In [304]:
df_NVDA = pd.concat([df_NVDA,df_NVDA_2019],axis=0,ignore_index=True)
df_NVDA.sort_values(by='Date',inplace=True)
df_NVDA.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15600 entries, 0 to 15599
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          15600 non-null  object
 1   url            15600 non-null  object
 2   sourcecountry  15182 non-null  object
 3   language       15600 non-null  object
 4   Date           15400 non-null  datetime64[ns, UTC]
 5   url_mobile     200 non-null    object
 6   seendate       200 non-null    object
 7   socialimage    200 non-null    object
 8   domain         200 non-null    object
dtypes: datetime64[ns, UTC](1), object(8)
memory usage: 1.2+ MB

In [322]:
df_NVDA_unique = df_NVDA.drop_duplicates(subset=['title', 'Date'])
df_NVDA_unique.to_csv("../data/NVDA_unique_stock_news.csv",index=False)
df_NVDA_unique.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9396 entries, 0 to 15599
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          9396 non-null   object
 1   url            9396 non-null   object
 2   sourcecountry  9149 non-null   object
 3   language       9396 non-null   object
 4   Date           9221 non-null   datetime64[ns, UTC]
 5   url_mobile     175 non-null    object
 6   seendate       175 non-null    object
 7   socialimage    175 non-null    object
 8   domain         175 non-null    object
dtypes: datetime64[ns, UTC](1), object(8)
memory usage: 734.1+ KB

In [323]:
(df_NVDA_unique['language'] == 'English').sum()

7103