In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
ticker = ["AAPL","TSLA","MSFT","NVDA"] 
for i in ticker:
    data = yf.download(i, start="2016-01-01", auto_adjust=True)
    data.to_csv(f"../data/raw_{i}_stock_data.csv")
    print(data.head())

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open     Volume
Ticker           AAPL       AAPL       AAPL       AAPL       AAPL
Date
2015-01-02  24.261053  24.729276  23.821677  24.718180  212818400
2015-01-05  23.577576  24.110152  23.391175  24.030265  257142000
2015-01-06  23.579796  23.839426  23.218087  23.641929  263188400
2015-01-07  23.910433  24.010290  23.677430  23.788384  160423600
2015-01-08  24.829126  24.886823  24.121244  24.238856  237458000

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open    Volume
Ticker           TSLA       TSLA       TSLA       TSLA      TSLA
Date
2015-01-02  14.620667  14.883333  14.217333  14.858000  71466000
2015-01-05  14.006000  14.433333  13.810667  14.303333  80527500
2015-01-06  14.085333  14.280000  13.614000  14.004000  93928500
2015-01-07  14.063333  14.318667  13.985333  14.223333  44526000
2015-01-08  14.041333  14.253333  14.000667  14.187333  51637500

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open    Volume
Ticker           MSFT       MSFT       MSFT       MSFT      MSFT
Date
2015-01-02  39.933044  40.496684  39.745167  39.847646  27913900
2015-01-05  39.565834  39.907432  39.497512  39.599992  39673900
2015-01-06  38.985119  39.924518  38.891178  39.608539  36447900
2015-01-07  39.480427  39.676846  38.848468  39.266927  29114100
2015-01-08  40.641876  40.778516  39.898897  39.924516  29645200

[*********************100%***********************]  1 of 1 completed

Price          Close      High       Low      Open     Volume
Ticker          NVDA      NVDA      NVDA      NVDA       NVDA
Date
2015-01-02  0.483038  0.486638  0.475360  0.483038  113680000
2015-01-05  0.474880  0.484478  0.472720  0.483038  197952000
2015-01-06  0.460482  0.476080  0.460002  0.475600  197764000
2015-01-07  0.459282  0.467921  0.457843  0.463842  321808000
2015-01-08  0.476559  0.479439  0.464322  0.464562  283780000

In [3]:
df_AAPL = pd.read_csv("../data/raw_AAPL_stock_data.csv", index_col=0, parse_dates=True, date_format="%Y-%m-%d")
df_TSLA = pd.read_csv("../data/raw_TSLA_stock_data.csv", index_col=0, parse_dates=True, date_format="%Y-%m-%d")
df_MSFT = pd.read_csv("../data/raw_MSFT_stock_data.csv", index_col=0, parse_dates=True, date_format="%Y-%m-%d")
df_NVDA = pd.read_csv("../data/raw_NVDA_stock_data.csv", index_col=0, parse_dates=True, date_format="%Y-%m-%d")

df_AAPL = df_AAPL.dropna().drop_duplicates()
df_TSLA = df_TSLA.dropna().drop_duplicates()
df_MSFT = df_MSFT.dropna().drop_duplicates()
df_NVDA = df_NVDA.dropna().drop_duplicates()

In [4]:
df_AAPL.head()

,Close,High,Low,Open,Volume
Price,,,,,
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL
2015-01-02,24.26105308532715,24.729276225914997,23.821677198130857,24.718180216834167,212818400
2015-01-05,23.57757568359375,24.11015184940222,23.39117495671791,24.030265339880305,257142000
2015-01-06,23.579795837402344,23.839426153600677,23.21808699514755,23.641929414645055,263188400
2015-01-07,23.910432815551758,24.01029009442088,23.677430240840117,23.78838352536704,160423600

In [5]:
datasets = [df_AAPL,df_TSLA,df_MSFT,df_NVDA]
for i,n in zip(datasets,ticker):
    i["Ticker"] = n
    i.drop(["Ticker"],axis="rows",inplace=True)
    i['Target'] = (i['Close'].shift(-1) > i['Close']).astype(int)

In [6]:
df_AAPL.head()

,Close,High,Low,Open,Volume,Ticker,Target
Price,,,,,,,
2015-01-02,24.26105308532715,24.729276225914997,23.821677198130857,24.718180216834167,212818400,AAPL,0
2015-01-05,23.57757568359375,24.11015184940222,23.39117495671791,24.030265339880305,257142000,AAPL,1
2015-01-06,23.579795837402344,23.839426153600677,23.21808699514755,23.641929414645055,263188400,AAPL,1
2015-01-07,23.910432815551758,24.01029009442088,23.677430240840117,23.78838352536704,160423600,AAPL,1
2015-01-08,24.829126358032227,24.886822541149925,24.121243847243377,24.238855753255983,237458000,AAPL,1

In [11]:
df = pd.concat(datasets,axis=0)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10900 entries, 2015-01-02 to 2025-10-31
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   10900 non-null  object
 1   High    10900 non-null  object
 2   Low     10900 non-null  object
 3   Open    10900 non-null  object
 4   Volume  10900 non-null  object
 5   Ticker  10900 non-null  object
 6   Target  10900 non-null  int32
dtypes: int32(1), object(6)
memory usage: 638.7+ KB

In [13]:
df.to_csv("../data/clean_multi_stock_data.csv")
for df,stock in zip(datasets,ticker):
    df.to_csv(f"../data/clean_{stock}_stock_data.csv")

REMOVE

In [47]:
import yfinance as yf
import pandas as pd
import numpy as np

In [48]:
ticker = ["AAPL","TSLA","MSFT","NVDA"] 
lis = []
for i in ticker:
    data = yf.download(i, start="2025-01-01", auto_adjust=True,multi_level_index=False)
    data["Ticker"] = i
    data['Target'] = (data['Close'].shift(-1) > data['Close']).astype(int)
    lis.append(data)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [141]:
df_APPL_new = lis[0]
df_TSLA_new = lis[1]
df_MSFT_new = lis[2]
df_NVDA_new = lis[-1]

In [142]:
df_APPL_new.head()

,Close,High,Low,Open,Volume,Ticker,Target
Date,,,,,,,
2025-01-02,242.752106,247.978468,240.731247,247.809220,55740700,AAPL,0
2025-01-03,242.264297,243.080598,240.800915,242.264297,40244100,AAPL,1
2025-01-06,243.896927,246.216438,242.105028,243.210031,45045600,AAPL,0
2025-01-07,241.119476,244.444435,240.263348,241.885999,40856000,AAPL,1
2025-01-08,241.607269,242.612732,238.969207,240.830782,37628900,AAPL,0

In [149]:
df_APPL_old = pd.read_csv('../data/clean_AAPL_stock_data.csv')


df_TSLA_old = pd.read_csv('../data/clean_TSLA_stock_data.csv')


df_MSFT_old = pd.read_csv('../data/clean_MSFT_stock_data.csv')


df_NVDA_old = pd.read_csv('../data/clean_NVDA_stock_data.csv')

df_APPL_old.head()

,date,Close,High,Low,Open,Volume,Ticker,Target
0,2015-01-02,24.261053,24.729276,23.821677,24.718180,212818400,AAPL,0
1,2015-01-05,23.577576,24.110152,23.391175,24.030265,257142000,AAPL,1
2,2015-01-06,23.579796,23.839426,23.218087,23.641929,263188400,AAPL,1
3,2015-01-07,23.910433,24.010290,23.677430,23.788384,160423600,AAPL,1
4,2015-01-08,24.829126,24.886823,24.121244,24.238856,237458000,AAPL,1

In [59]:
import yfinance as yf
import pandas as pd
from yahooquery import Ticker
from itertools import islice
import requests, time
from datetime import datetime, timedelta, date
from transformers import AutoModelForSeq2SeqLM, AutoTokenizer, pipeline

date = date.today()
ticker = ["AAPL","TSLA","MSFT","NVDA"] 
stock_price = []
for i in ticker:
    data = yf.download(i, start=str(date), auto_adjust=True,multi_level_index=False)
    data["Ticker"] = i
    data['Target'] = (data['Close'].shift(-1) > data['Close']).astype(int)
    stock_price.append(data)
 
 
model_path = "C:/huggingface_cache/opus-mt-mul-en"

tokenizer = AutoTokenizer.from_pretrained(model_path)
model = AutoModelForSeq2SeqLM.from_pretrained(model_path)
def translate(text):
    inputs = tokenizer(text, return_tensors="pt")
    outputs = model.generate(**inputs)
    return tokenizer.decode(outputs[0], skip_special_tokens=True)

 
def get_news_data(company,ticker):
    url = "https://api.gdeltproject.org/api/v2/doc/doc"
    
                
    # Get the current UTC time (GDELT uses UTC)
    now = datetime.now()

    # 24 hours ago
    yesterday = now - timedelta(days=1)

    params = {
        "query": company,
        "mode": "ArtList",
        "maxrecords": "200",
        "format": "json",
        "startdatetime": yesterday.strftime("%Y%m%d%H%M%S"),
        "enddatetime": now.strftime("%Y%m%d%H%M%S")
    }
    
    headers = {"User-Agent": "Mozilla/5.0"}
    time.sleep(2)
    
    response = requests.get(url, params=params, headers=headers)
    print(response.status_code)
    data = response.json().get('articles', [])
    df = pd.DataFrame(data)[['seendate','title','language']]
    

    df['date'] = pd.to_datetime(df['seendate'], errors='coerce')
    df['Ticker'] = ticker
    df.drop('seendate', axis=1,inplace=True)
    df.sort_values(by='date',inplace=True)
    english_df = df[df['language'] == 'English']
    non_english_df = df[df['language'] != 'English']
    print(f'Number of Non English fo {company}: {len(non_english_df)}')
    if len(non_english_df) > 0:
        non_english_df["title"] = non_english_df["title"].apply(translate)
    df = pd.concat([english_df,non_english_df],axis=0,ignore_index=True)
    return df[['date','title','Ticker']]

    
df_APPL_news = get_news_data('apple','APPL') 
df_MSFT_news = get_news_data('microsoft','MSFT')    
df_TSLA_news = get_news_data('tesla','TSLA')
df_NVDA_news = get_news_data('nvidia','NVDA')

datasets = [df_APPL_news,df_MSFT_news,df_TSLA_news,df_NVDA_news]  


news_df_stage_1 = pd.concat(datasets,axis=0,ignore_index=True)
print(f'Size of news_df: {news_df_stage_1.shape}')
stocks_df = pd.concat(stock_price,axis=0)
print(f'Size of stock_df: {stocks_df.shape}')

df_dummies = pd.get_dummies(data=news_df_stage_1['Ticker'])
news_df = pd.concat([news_df_stage_1,df_dummies],axis=1)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

200
Number of Non English fo apple: 120

C:\Users\dalu\AppData\Local\Temp\ipykernel_20476\2668966559.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_english_df["title"] = non_english_df["title"].apply(translate)

200
Number of Non English fo microsoft: 78

C:\Users\dalu\AppData\Local\Temp\ipykernel_20476\2668966559.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_english_df["title"] = non_english_df["title"].apply(translate)

200
Number of Non English fo tesla: 109

C:\Users\dalu\AppData\Local\Temp\ipykernel_20476\2668966559.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_english_df["title"] = non_english_df["title"].apply(translate)

200
Number of Non English fo nvidia: 42
Size of news_df: (800, 3)
Size of stock_df: (4, 7)

C:\Users\dalu\AppData\Local\Temp\ipykernel_20476\2668966559.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_english_df["title"] = non_english_df["title"].apply(translate)

In [221]:
df_APPL_new = stock_price[0]
df_TSLA_new = stock_price[1]
df_MSFT_new = stock_price[2]
df_NVDA_new = stock_price[-1]
for df in [df_APPL_new,df_MSFT_new,df_TSLA_new,df_NVDA_new]:
    df['date'] = df.index.date

df_NVDA_new.head()

,Close,High,Low,Open,Volume,Ticker,Target,date
Date,,,,,,,,
2025-11-26,180.259995,182.910004,178.240005,181.630005,181798274,NVDA,0,2025-11-26

In [223]:
df_APPL = pd.concat([df_APPL_old,df_APPL_new], axis=0, ignore_index=True)
df_TSLA = pd.concat([df_TSLA_old,df_TSLA_new], axis=0, ignore_index=True)
df_MSFT = pd.concat([df_MSFT_old,df_MSFT_new], axis=0, ignore_index=True)
df_NVDA = pd.concat([df_NVDA_old,df_NVDA_new], axis=0, ignore_index=True)
stock_datasets = [df_APPL,df_TSLA,df_MSFT,df_NVDA]

today = df_APPL.loc[2723, 'Close']
tomorrow = df_APPL.loc[2723 + 1, 'Close']

print(today, tomorrow, tomorrow > today)
df_APPL.tail()

271.3999938964844 270.3699951171875 False

,date,Close,High,Low,Open,Volume,Ticker,Target
2721,2025-10-28,269.000000,269.890015,268.149994,268.989990,41534800,AAPL,1
2722,2025-10-29,269.700012,271.410004,267.109985,269.279999,51086700,AAPL,1
2723,2025-10-30,271.399994,274.140015,268.480011,271.989990,69886500,AAPL,0
2724,2025-10-31,270.369995,277.320007,269.160004,276.989990,86096700,AAPL,0
2725,2025-11-26,277.549988,279.529999,276.630005,276.959991,31050665,AAPL,0

In [224]:
for df in stock_datasets:
    df = df.reset_index(drop=True)
    # df.drop('Target',axis=1,inplace=True)
    df['Target'] = (df['Close'].shift(-1) > df['Close']).astype(int)
df_APPL.tail()

,date,Close,High,Low,Open,Volume,Ticker,Target
2721,2025-10-28,269.000000,269.890015,268.149994,268.989990,41534800,AAPL,1
2722,2025-10-29,269.700012,271.410004,267.109985,269.279999,51086700,AAPL,1
2723,2025-10-30,271.399994,274.140015,268.480011,271.989990,69886500,AAPL,0
2724,2025-10-31,270.369995,277.320007,269.160004,276.989990,86096700,AAPL,0
2725,2025-11-26,277.549988,279.529999,276.630005,276.959991,31050665,AAPL,0

In [62]:
news_df.head()

,date,title,Ticker,APPL,MSFT,NVDA,TSLA
0,2025-11-26 23:30:00+00:00,MORNING TEA : Bob Irwin Does Australia Proud &...,APPL,True,False,False,False
1,2025-11-26 23:30:00+00:00,How Prehistoric Planet Rebuilds The Ice Age ...,APPL,True,False,False,False
2,2025-11-26 23:30:00+00:00,7 Festive Cocktails To Mix Up Featuring Natali...,APPL,True,False,False,False
3,2025-11-26 23:45:00+00:00,"Your monthly Spotify cost is about to go up , ...",APPL,True,False,False,False
4,2025-11-27 00:00:00+00:00,Apple to lead smartphone shipments in 2025 for...,APPL,True,False,False,False

In [63]:
import pandas as pd
import tensorflow as tf
from transformers import AutoTokenizer, TFAutoModelForSequenceClassification
from tqdm import tqdm

news_df = news_df.drop_duplicates(subset=['title'])

def tf_news_sentiment(df):
    text_column = "title"            # change if different
    
    # Clean NaN
    df[text_column] = df[text_column].astype(str)
    df[text_column] = df[text_column].fillna("")
    df = df.reset_index(drop=True)
    
    # ============================
    # 2. Load Model
    # ============================
    model_name = "ProsusAI/finbert"
    model_path = r"C:\Users\dalu\Desktop\finbert"
    tokenizer = AutoTokenizer.from_pretrained(model_path, local_files_only = True)
    model = TFAutoModelForSequenceClassification.from_pretrained(
        model_path,
        from_pt=True,
        local_files_only=True# convert from PyTorch
    )
    
    print("GPU available:", tf.config.list_physical_devices('GPU'))
    
    # ============================
    # 3. Parameters
    # ============================
    labels = ["negative", "neutral", "positive"]
    
    # GPU memory safe batch size
    batch_size = 32 if tf.config.list_physical_devices('GPU') else 8
    
    sentiments = []
    scores = []
    
    # ============================
    # 4. Batch Inference Loop
    # ============================
    for i in tqdm(range(0, len(df), batch_size), desc="Processing"):
        batch_texts = df[text_column].iloc[i:i+batch_size].tolist()
    
        inputs = tokenizer(
            batch_texts,
            return_tensors="tf",
            truncation=True,
            padding=True,
            max_length=128
        )
    
        # IMPORTANT: unpack dict
        outputs = model(**inputs)
    
        probs = tf.nn.softmax(outputs.logits, axis=1)
    
        for p in probs:
            idx = int(tf.argmax(p).numpy())
            score = float(tf.reduce_max(p).numpy())
            sentiments.append(labels[idx])
            scores.append(score)
    
    # ============================
    # 5. Add to DataFrame
    # ============================
    df["sentiment"] = sentiments
    df["score"] = scores
    
    return df

news_sentiment = tf_news_sentiment(news_df)

WARNING:tensorflow:From C:\Users\dalu\anaconda3\Lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From C:\Users\dalu\anaconda3\Lib\site-packages\tf_keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

TensorFlow and JAX classes are deprecated and will be removed in Transformers v5. We recommend migrating to PyTorch classes or pinning your version of Transformers.
All PyTorch model weights were used when initializing TFBertForSequenceClassification.

All the weights of TFBertForSequenceClassification were initialized from the PyTorch model.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFBertForSequenceClassification for predictions without further training.

GPU available: []

Processing:   0%|          | 0/80 [00:00<?, ?it/s]TensorFlow and JAX classes are deprecated and will be removed in Transformers v5. We recommend migrating to PyTorch classes or pinning your version of Transformers.
Processing: 100%|| 80/80 [00:55<00:00,  1.44it/s]

In [119]:
news_sentiment.head()

,date,title,Ticker,APPL,MSFT,NVDA,TSLA,sentiment,score,sentiment_polarity
0,2025-11-26 23:30:00+00:00,MORNING TEA : Bob Irwin Does Australia Proud &...,APPL,True,False,False,False,positive,0.762782,0.762782
1,2025-11-26 23:30:00+00:00,How Prehistoric Planet Rebuilds The Ice Age ...,APPL,True,False,False,False,positive,0.871438,0.871438
2,2025-11-26 23:30:00+00:00,7 Festive Cocktails To Mix Up Featuring Natali...,APPL,True,False,False,False,positive,0.901154,0.901154
3,2025-11-26 23:45:00+00:00,"Your monthly Spotify cost is about to go up , ...",APPL,True,False,False,False,positive,0.534210,0.534210
4,2025-11-27 00:00:00+00:00,Apple to lead smartphone shipments in 2025 for...,APPL,True,False,False,False,negative,0.795794,0.000000

In [225]:
stocks_df = pd.concat(stock_datasets,axis=0,ignore_index=True)
# stocks_df = stocks_df.set_index('date').sort_index()
stocks_df.head()

,date,Close,High,Low,Open,Volume,Ticker,Target
0,2015-01-02,24.261053,24.729276,23.821677,24.718180,212818400,AAPL,0
1,2015-01-05,23.577576,24.110152,23.391175,24.030265,257142000,AAPL,1
2,2015-01-06,23.579796,23.839426,23.218087,23.641929,263188400,AAPL,1
3,2015-01-07,23.910433,24.010290,23.677430,23.788384,160423600,AAPL,1
4,2015-01-08,24.829126,24.886823,24.121244,24.238856,237458000,AAPL,1

In [227]:
for df in stock_datasets:
    df['RAV'] = df.groupby('Ticker')['Volume'].transform(lambda x: x.rolling(7).mean())
    df['volatility'] = df.groupby('Ticker')['Close'].transform(lambda x: x.rolling(20).std())
    df["Buy_Sell_Strength"] = (df["Close"]-df["Low"]) / (df["High"] - df["Low"])
    df["Weighted_Strength"] = (df["Buy_Sell_Strength"] - 0.5) * (df["Volume"]/ df["RAV"])
    df["Trend"] = (df["Buy_Sell_Strength"] - 0.5).rolling(25).mean()
    df["Returns"] = df["Close"].pct_change()
    df["Log_returns"] = (df["Close"] / df["Close"].shift(1).apply(np.log))
    df.dropna(inplace=True)
    df.drop(["High","Low","Open"],axis="columns",inplace=True)

In [230]:
interleaved_df = pd.concat(stock_datasets).sort_index(kind='merge').reset_index(drop=True)
interleaved_df.head(10)

,date,Close,Volume,Ticker,Target,RAV,volatility,Buy_Sell_Strength,Weighted_Strength,Trend,Returns,Log_returns
0,2015-02-06,26.495508,174826400,AAPL,1,2.508224e+08,1.046604,0.266668,-0.162635,-0.007055,-0.008421,8.064544
1,2015-02-06,14.490667,48658500,TSLA,1,5.486293e+07,0.608197,0.124639,-0.332912,0.016009,-0.016426,5.386730
2,2015-02-06,36.218159,34616600,MSFT,0,5.097210e+07,2.133874,0.406248,-0.063670,0.022419,-0.000942,10.087210
3,2015-02-06,0.489517,210524000,NVDA,0,2.155857e+08,0.010619,0.225000,-0.268543,0.023777,-0.004392,-0.689525
4,2015-02-09,26.671497,155559200,AAPL,1,2.247958e+08,1.096022,0.914897,0.287110,0.010177,0.006642,8.139060
5,2015-02-09,14.498667,52086000,TSLA,0,5.470071e+07,0.638038,0.924241,0.403962,0.028755,0.000552,5.423094
6,2015-02-09,36.175453,31381100,MSFT,1,4.637150e+07,2.087252,0.283020,-0.146837,0.023740,-0.001179,10.077961
7,2015-02-09,0.489037,273944000,NVDA,1,2.211006e+08,0.010830,0.793109,0.363162,0.028268,-0.000980,-0.684604
8,2015-02-10,27.183907,248034000,AAPL,1,2.123746e+08,1.149111,0.934671,0.507655,0.037193,0.019212,8.278701
9,2015-02-10,14.419333,80857500,TSLA,0,5.980821e+07,0.657882,0.234547,-0.358879,0.025588,-0.005472,5.392307

In [235]:
df_dummies = pd.get_dummies(data=interleaved_df["Ticker"])

final_stocks_df =  pd.concat([interleaved_df,df_dummies],axis=1)
final_stocks_df.drop(['Ticker'],axis="columns",inplace=True)

final_stocks_df['market_return'] = final_stocks_df.groupby('date')['Returns'].transform('mean')
final_stocks_df['rel_return'] = final_stocks_df['Returns'] - final_stocks_df['market_return']
final_stocks_df['mean_return_others'] = final_stocks_df.groupby('date')['Returns'].transform(lambda x: x.mean())
final_stocks_df['divergence'] = (final_stocks_df['Returns'] - final_stocks_df['mean_return_others']).abs()
final_stocks_df['volume_rank'] = final_stocks_df.groupby('date')['Volume'].rank(pct=True)
final_stocks_df['return_rank'] = final_stocks_df.groupby('date')['Returns'].rank(pct=True)
final_stocks_df['market_std'] = final_stocks_df.groupby('date')['Returns'].transform('std')
final_stocks_df['zscore_vs_market'] = (final_stocks_df['Returns'] - final_stocks_df['market_return']) / final_stocks_df['market_std']

final_stocks_df.head()

,date,Close,Volume,Target,RAV,volatility,Buy_Sell_Strength,Weighted_Strength,Trend,Returns,...,NVDA,TSLA,market_return,rel_return,mean_return_others,divergence,volume_rank,return_rank,market_std,zscore_vs_market
0,2015-02-06,26.495508,174826400,1,2.508224e+08,1.046604,0.266668,-0.162635,-0.007055,-0.008421,...,False,False,-0.007545,-0.000875,-0.007545,0.000875,0.75,0.50,0.006663,-0.131401
1,2015-02-06,14.490667,48658500,1,5.486293e+07,0.608197,0.124639,-0.332912,0.016009,-0.016426,...,False,True,-0.007545,-0.008881,-0.007545,0.008881,0.50,0.25,0.006663,-1.332888
2,2015-02-06,36.218159,34616600,0,5.097210e+07,2.133874,0.406248,-0.063670,0.022419,-0.000942,...,False,False,-0.007545,0.006603,-0.007545,0.006603,0.25,1.00,0.006663,0.991057
3,2015-02-06,0.489517,210524000,0,2.155857e+08,0.010619,0.225000,-0.268543,0.023777,-0.004392,...,True,False,-0.007545,0.003153,-0.007545,0.003153,1.00,0.75,0.006663,0.473233
4,2015-02-09,26.671497,155559200,1,2.247958e+08,1.096022,0.914897,0.287110,0.010177,0.006642,...,False,False,0.001259,0.005384,0.001259,0.005384,0.75,1.00,0.003671,1.466334

In [236]:
import pandas as pd

def compute_polarity(row):
    if row['sentiment'] == 'positive':
        return row['score'] * 1.0
    elif row['sentiment'] == 'neutral':
        return row['score'] * 0.5
    else:  # negative
        return row['score'] * 0.0

news_sentiment['sentiment_polarity'] = news_sentiment.apply(compute_polarity, axis=1)
df_dummies = pd.get_dummies(news_sentiment['sentiment'])

df_news_sent = pd.concat([news_sentiment,df_dummies],axis=1)
df_news_sent = df_news_sent.drop("sentiment",axis=1)
df_news_sent.rename(columns={'negative':'sentiment_neg', 'neutral':'sentiment_neu','positive':'sentiment_pos'},inplace=True)
df_news_sent = df_news_sent[['date','sentiment_polarity','sentiment_neg','sentiment_neu','sentiment_pos']]

df_news_sent["datetime"] =  pd.to_datetime(df_news_sent['date'], format="mixed", utc=True)
df_news_sent = df_news_sent.set_index('datetime').sort_index()

df_news_sent['date'] = df_news_sent.index.date
df_news_sent['date'] = pd.to_datetime(df_news_sent['date'])

# stocks_df['date'] = stocks_df.index.date
final_stocks_df['date'] = pd.to_datetime(final_stocks_df['date']) 
final_stocks_df = final_stocks_df.set_index('date').sort_index()


daily_sentiment = (
    df_news_sent.groupby('date')
    .agg({
        'sentiment_polarity': ['mean', 'sum'],  # overall sentiment per day
        'sentiment_pos': 'sum',
        'sentiment_neg': 'sum',
        'sentiment_neu': 'sum'
    })
)
daily_sentiment.columns = [
    'pol_mean', 'pol_sum',
    'pos_count', 'neg_count', 'neu_count'
]

stock_with_sentiment = final_stocks_df.merge(
    daily_sentiment,
    left_index=True,
    right_index=True,
    how="left"
)
stock_with_sentiment['has_news'] = (~stock_with_sentiment['pol_mean'].isna()).astype(int)
sentiment_cols = ['pol_mean','pol_sum','pos_count','neg_count','neu_count'] 
stock_with_sentiment[sentiment_cols] = stock_with_sentiment[sentiment_cols].fillna(0)

new_stock_price = stock_with_sentiment.copy()

In [237]:
new_stock_price.head(12)

,Close,Volume,Target,RAV,volatility,Buy_Sell_Strength,Weighted_Strength,Trend,Returns,Log_returns,...,volume_rank,return_rank,market_std,zscore_vs_market,pol_mean,pol_sum,pos_count,neg_count,neu_count,has_news
date,,,,,,,,,,,,,,,,,,,,,
2015-02-06,26.495508,174826400,1,2.508224e+08,1.046604,0.266668,-0.162635,-0.007055,-0.008421,8.064544,...,0.75,0.50,0.006663,-0.131401,0.0,0.0,0.0,0.0,0.0,0
2015-02-06,14.490667,48658500,1,5.486293e+07,0.608197,0.124639,-0.332912,0.016009,-0.016426,5.386730,...,0.50,0.25,0.006663,-1.332888,0.0,0.0,0.0,0.0,0.0,0
2015-02-06,36.218159,34616600,0,5.097210e+07,2.133874,0.406248,-0.063670,0.022419,-0.000942,10.087210,...,0.25,1.00,0.006663,0.991057,0.0,0.0,0.0,0.0,0.0,0
2015-02-06,0.489517,210524000,0,2.155857e+08,0.010619,0.225000,-0.268543,0.023777,-0.004392,-0.689525,...,1.00,0.75,0.006663,0.473233,0.0,0.0,0.0,0.0,0.0,0
2015-02-09,26.671497,155559200,1,2.247958e+08,1.096022,0.914897,0.287110,0.010177,0.006642,8.139060,...,0.75,1.00,0.003671,1.466334,0.0,0.0,0.0,0.0,0.0,0
2015-02-09,14.498667,52086000,0,5.470071e+07,0.638038,0.924241,0.403962,0.028755,0.000552,5.423094,...,0.50,0.75,0.003671,-0.192484,0.0,0.0,0.0,0.0,0.0,0
2015-02-09,36.175453,31381100,1,4.637150e+07,2.087252,0.283020,-0.146837,0.023740,-0.001179,10.077961,...,0.25,0.25,0.003671,-0.664009,0.0,0.0,0.0,0.0,0.0,0
2015-02-09,0.489037,273944000,1,2.211006e+08,0.010830,0.793109,0.363162,0.028268,-0.000980,-0.684604,...,1.00,0.50,0.003671,-0.609841,0.0,0.0,0.0,0.0,0.0,0
2015-02-10,27.183907,248034000,1,2.123746e+08,1.149111,0.934671,0.507655,0.037193,0.019212,8.278701,...,1.00,0.75,0.014746,0.499681,0.0,0.0,0.0,0.0,0.0,0
2015-02-10,14.419333,80857500,0,5.980821e+07,0.657882,0.234547,-0.358879,0.025588,-0.005472,5.392307,...,0.50,0.25,0.014746,-1.174271,0.0,0.0,0.0,0.0,0.0,0
2015-02-10,36.380413,29670700,0,3.946661e+07,2.044404,0.711861,0.159276,0.045548,0.005666,10.138393,...,0.25,0.50,0.014746,-0.418969,0.0,0.0,0.0,0.0,0.0,0
2015-02-10,0.502715,226204000,0,2.108154e+08,0.011799,0.984617,0.519991,0.060306,0.027969,-0.702787,...,0.75,1.00,0.014746,1.093559,0.0,0.0,0.0,0.0,0.0,0

In [113]:
df.shape

(10807, 29)

In [139]:
new_stock_price.head()

,Close,High,Low,Open,Volume,Ticker,Target,pol_mean,pol_sum,pos_count,neg_count,neu_count,has_news,date_col,Buy_Sell_Strength,Returns,market_std,market_return,zscore_vs_market
date,,,,,,,,,,,,,,,,,,,
2025-11-26,277.549988,279.529999,276.630005,276.959991,31050665,AAPL,0,0.600089,20.403034,24,5,5,1,2025-11-26,0.317236,NaN,0.592433,0.015452,NaN
2025-11-26,426.579987,426.940002,416.890015,423.982513,62435860,TSLA,0,0.600089,20.403034,24,5,5,1,2025-11-26,0.964177,0.536948,0.592433,0.015452,0.880261
2025-11-26,485.500000,488.303009,481.209991,486.049988,25657575,MSFT,0,0.600089,20.403034,24,5,5,1,2025-11-26,0.604821,0.138122,0.592433,0.015452,0.207060
2025-11-26,180.259995,182.910004,178.240005,181.630005,181798274,NVDA,0,0.600089,20.403034,24,5,5,1,2025-11-26,0.432546,-0.628713,0.592433,0.015452,-1.087321

In [118]:
daily_sentiment.head()

            pol_mean     pol_sum  pos_count  neg_count  neu_count
date
2025-11-26  0.600089   20.403034         24          5          5
2025-11-27  0.645931  386.912677        409         74        116